@charset "utf-8";
/* CSS Document */

body { background-color:#FFF;font-family: Arial, Helvetica, 'sans-serif'}

/* page container */
.container{ width:1000px; margin:auto }

.rowcontainer{overflow:hidden;}

.title1{background-color:#f2f2f2;width:640px;}
.title2{background-color:#f2f2f2;width:450px;}
.title3{background-color:#f2f2f2;width:200px;}
.arrow{width:50px;float:right;height:32px;width:32px;margin:12px 25px 0 0 ;}
/* page container */
.clear{ clear:both}
*{box-sizing:border-box}
/* start header */

	.header{overflow:hidden;background-color:#f5f5f5;height:75px;border-bottom:2px solid #000;margin-bottom:0;padding-bottom:0}

	#logo{padding-top:6px}
	
	.header img{height:67px;width:250px;float:left;}

	#logo span{float:right;font-size:16px;padding:20px 30px 0 0;font-weight:400}

/* end header */

.emptydiv{height:5px} /* separate between sectors */

/* start connection */
.connection h2{padding-left:5px;float:left}
#connStatues{background-color:#bc0000;border-radius:9px;height:18px;width:18px;float:left;margin:22px 20px}

.connform{background-color:#f2f2f2;padding:10px;float:left;display:block;width:100%}

/* end connection */

/* start connection form */
.connform {overflow:hidden;marging:0}

.connform input {display:block;margin-top:3px}

.connform div {float:left;padding-right:30px;padding-top:10px}

.connform button{padding:5px 15px;background-color:#2ba6cb;margin-top:25px;cursor:pointer;color:#FFF}

.connform button:hover {background-color:#2284a1}

/* end connection form */

/* start publish &subscrip */
.pubscribe{overflow:hidden;}
/* start publish  */
.pubscribe .publish{width:620px;float:left;background-color:##f2f2f2;overflow:hidden}

.publish input {display:block;margin-top:3px}

.publish div {float:left;padding-right:30px;padding-top:10px}
 
.publish button{padding:5px 15px;background-color:#2ba6cb;margin-top:25px;cursor:pointer;color:#FFF;font-size:14px}

.publish button:hover {background-color:#2284a1}
/* end publish */

/* start subscrip */
.pubscribe .sub{width:300px;float:left;position: static;margin-left:25px}

.pubscribe .sub #sub-btn{background-color:#2ba6cb;color:#fff;padding:5px 15px;cursor:pointer;}

.pubscribe  .sub #sub-btn:hover{background-color:#2284a1}
/* end subscrip */

/* start message */

.message{overflow:hidden}

.mesage{width:620px}

/* end message */
